* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkgray;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}
h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}
input {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    width: 10rem;
}
button {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 2rem;
    text-align: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
.result {
    font-size: 2rem;
}